.badge {
  padding: 5px 10px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}

.green {
  background-color: #27AE60;
}

.orange {
  background-color: #F2994A;
}

.black {
  background-color: #333333;
}

.red {
  background-color: #EB5757;
}

.purple {
  background-color: #9B51E0;
}

.grey {
  background-color: #828282;
}
