.cards {
  margin: 0 0 145px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 612px;
  height: 350px;
  margin-bottom: 80px;
  display: flex;
  overflow: hidden;
  background-color: #F2F2F2;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.logo {
  width: 225px;
  height: 100%;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.logo img {
  width: 100%;
}

.status {
  position: absolute;
  top: 0;
  left: 0;
}

.progressBar {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

.info {
  padding: 33px 16px 45px;
}

.info h2 {
  margin: 0 0 5px 0;
  font-weight: 600;
  font-size: 22px;
  color: #333333;
}

.goal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
}

.goalItem {
  display: flex;
  align-items: center;
}

.goalItem svg {
  margin-right: 10px;
  color: #2D9CDB;
  font-size: 20px;
}

.goalItem span {
  font-family: OpenSans;
  font-weight: 400;
  font-size: 16px;
}

.description {
  margin-bottom: 28px;
  font-family: OpenSans;
  font-weight: 400;
  font-size: 14px;
}

.contractors span {
  display: inline-block;
  margin: 10px 0 5px 0;
  font-weight: 600;
}

.contractors ul {
  display: flex;
}

.contractors ul li {
  width: 45px;
  height: 45px;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 50%;
}

.contractors ul li img {
  width: 100%;
}

.readMoreLink {
  font-weight: 700;
  color: #2D9CDB;
}

.showDetailsLink {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #333333;
}

.showDetailsLink svg {
  margin-left: 10px;
  font-size: 20px;
}